body {
  background: #3a3a3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.header {
  flex-basis: 100%;
  padding: 20px;
  background: #202020;
  color: #c7c7c7;
}

main {
  width: 70%;
  margin-top: 3%;
}

aside {
  padding: 5%;
  width: 20%;
}

.header__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

}

body {
  margin: auto;
}

.users__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__discription {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  color: #ffffff;
  width: 85%;
  padding: 10px;
  background: rgb(102, 124, 143);
  margin: 2%
}

.item p,
.item b,
.item h3 {
  margin: 1%;
}


main .item__btn {
  float: right;
  margin-right: 0.625em;
  color: rgb(30, 59, 85);
  cursor: pointer;
  transform: scale(1.3);
}

aside form input:not([type="checkbox"]),
aside form textarea,
aside form button {
  background: #202020;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 90%;
  outline: none;
  padding: 5%;
  margin-bottom: 1%;
}
aside form textarea {
  margin-bottom: 0;
}

aside form input::placeholder,
aside form textarea::placeholder,
aside form button::placeholder {
  color: #c7c7c7;
}

.user__discription-inputs {
  margin-bottom: 2%;
}

aside form label {
  color: #c7c7c7;
}

.user__discription-label {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

aside form button {
  margin-top: 3%;
  width: 100%;
  cursor: pointer;
  transition: .5s ease;
}


@media (hover:hover) {
  main .item__btn:hover {
    opacity: 0.5;
  }

  aside form button:hover {
    background: #000000;
    color: #c7c7c7;
    transform: scale(1.05);
  }
}

@media screen and (max-width:600px) {

  main {
    flex-basis: 100%;
  }

  aside {
    flex-basis: 80%;
  }
}